<configuration>
    <springProperty scop="context" name="AppName" source="spring.application.name" defaultValue="qbao-api"/>
    <springProperty scop="context" name="AppPort" source="server.port" defaultValue="4016"/>
    <springProperty scop="context" name="RootLevel" source="log.root" defaultValue="WARN"/>
    <springProperty scop="context" name="SubLevel" source="log.sub" defaultValue="DEBUG"/>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="applog" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>type</key>
            <defaultValue>main</defaultValue>
        </discriminator>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/app/logs/${AppName}-${AppPort}-${type}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>/app/logs/${AppName}-${AppPort}-${type}.log.%d.%i</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever FileControllerfile size reaches 64 MB -->
                        <maxFileSize>50 MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>10</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d %p (%file:%line\)- %m%n
                    </pattern>
                    <charset>UTF-8</charset> <!-- 此处设置字符集 -->
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="errorlog" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>type</key>
            <defaultValue>main</defaultValue>
        </discriminator>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/app/logs/${AppName}-${AppPort}-error-${type}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>/app/logs/${AppName}-${AppPort}-error-${type}.log.%d.%i</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever FileControllerfile size reaches 64 MB -->
                        <maxFileSize>50 MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>10</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d %p (%file:%line\)- %m%n
                    </pattern>
                    <charset>UTF-8</charset> <!-- 此处设置字符集 -->
                </encoder>
            </appender>
        </sift>
    </appender>
    <root level="${RootLevel}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="applog" />
        <appender-ref ref="errorlog" />
    </root>
    <!--<logger name="org.hibernate.SQL" level="trace" />-->
    <!--<logger name="org.hibernate.type.descriptor.sql" level="trace" />-->

    <logger name="com.aethercoder" level="${SubLevel}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="applog" />
        <appender-ref ref="errorlog" />
    </logger>
</configuration>