

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Themesdesign">
    <title>Audit Passed</title>
</head>
<body>
<div style=" padding: 35px;">
    <table cellpadding="0" align="center" style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background:#fff;">
        <tbody>
        <tr>
            <th valign="middle" style="height: 25px; line-height: 25px; padding: 15px 35px; background-color: #eee; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                <img src="https://qbao.fund/favicon.ico" alt="" style="width:10%;position: relative;top:4px;">
                <span style="font-size: 2rem">Qbao Foundation</span>
            </th>
        </tr>
        <tr>
            <td>
                <div style="padding:25px 35px 40px; background-color:#fff;">
                    <h2 style="margin: 5px 0px; "><font color="#333333" style="line-height: 20px; "><font style="line-height: 22px; " size="4">Dear ${username}：</font></font></h2>
                    <p style="font-size: 14px;height:auto;">
                        Congratulations! Your KYC for Qbao crowdsale passed audit of Qbao Foundation.
                        Qbao crowdsale will start on 2017.11.19 6:00PM(UTC +8),
                        please log in https://qbao.fund and click "Contribute Now",
                        then there will be a smart contract address and its QR code presents.
                    </p>
                    <p style="font-size: 14px;line-height: 36px;height:auto;">
                        Please follow below guideline to ${type}
                        <br>
                        <a href="${url}" target="_blank" style="color:#148cf1">
                            ${url}
                        </a>
                        <br>

                    </p>
                    <p>
                        <b>Reminding:</b>
                        <br>
                        The minimum contribution for Qbao crowdsale is 500 Qtum.
                        If you deposit less than 500 Qtum into the smart contract. It will be refunded to you Qtum address.</p>
                    <p>Thank you.</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>