

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Themesdesign">
    <title>Title</title>
</head>
<body>
<div style=" padding: 35px;">
    <table cellpadding="0" align="center" style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background:#fff;">
        <tbody>
        <tr>
            <th valign="middle" style="height: 25px; line-height: 25px; padding: 15px 35px; background-color: #eee; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                <img src="https://qbao.fund/favicon.ico" alt="" style="width:10%;position: relative;top:4px;">
                <span style="font-size: 2rem">Qbao Foundation</span>
            </th>
        </tr>
        <tr>
            <td>
                <div style="padding:25px 35px 40px; background-color:#fff;">
                    <h2 style="margin: 5px 0px; "><font color="#333333" style="line-height: 20px; "><font style="line-height: 22px; " size="4">Dear ${username}：</font></font></h2>
                    <p style="font-size: 14px;color:rgb(102,102,102);line-height: 36px;height:auto;">
                        Please click following link to ${type}
                        <br>
                        <a href="${url}" target="_blank" style="color:#148cf1">
                            ${url}
                        </a>
                        <br>
                        If the link is inaccessible, please copy it into your browser and try again. (The link is active in 24hours)
                    </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>