
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Themesdesign">
    <title>Title</title>
</head>
<body>
<div style=" padding: 35px;">
    <table cellpadding="0" align="center" style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background:#fff;">
        <tbody>
        <tr>
            <th valign="middle" style="height: 25px; line-height: 25px; padding: 15px 35px; background-color: #eee; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                <img src="https://qbao.fund/favicon.ico" alt="" style="width:10%;position: relative;top:4px;">
                <span style="font-size: 2rem">Q宝</span>
            </th>
        </tr>
        <tr>
            <td>
                <div style="padding:25px 35px 40px; background-color:#fff;">
                    <h2 style="margin: 5px 0px; "><font color="#333333" style="line-height: 20px; "><font style="line-height: 22px; " size="4">亲爱的${username}：</font></font></h2>
                    <p style="font-size: 14px;color:rgb(102,102,102);line-height: 36px;height:auto;">
                        请点击以下链接${type}
                        <br>
                        <a href="${url}" target="_blank" style="color:#148cf1">
                            ${url}
                        </a>
                        <br>
                        如果以上链接无法打开，请把上面网页地址复制到浏览器地址栏中打开（该链接在24小时内有效）
                    </p>
                    <p style="margin-top:40px;border-top:1px solid rgb(242,242,242);padding-top:20px;font-size: 12px;line-height: 20px;color:rgb(153,153,153);height:auto;">
                        本邮件由码以科技信息有限公司系统自动发出，请勿直接回复哦。
                        <br>
                        如果您有任何疑问或建议，可以通过邮箱
                        <a href="" target="_blank" style="color:#148cf1">bd@aethercoder.com</a> 联系我们
                    </p>
                    <p style="text-align: center;font-size: 12px;color:rgb(153,153,153);line-height: 20px;height:20px;">
                        Copyright © 2017-2019 码以科技 版权所有.
                    </p>
                    <p align="right">Q宝! 官方团队</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>